<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <form action="/quotes" method="POST">
            Name:<input type="text" name="name"><br><br>
            Species:<input type="text" name="species"><br><br>
            Age:<input type="text" name="Age"><br><br>
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>