<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        This is the counter APP views pages
    </h1>
    <h1><%= number %></h1>
    <form action="/addone" method="GET">
        <button type="submit">Add One</button>
    </form>
    <form action="/reset" method="GET">
        <button type="submit">reset</button>
    </form>

</body>
</html>