<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <h1>Animal Information</h1>
        <form action="/create" method="POST">
            Name:<input type="text" name="name"><br><br> 
            Species:<input type="text" name="species"><br><br> 
            Age:<input type="text" name="age"><br><br>
            <button type="submit">submit</button>
        </form>
        <% if(messages.registration) { %>
            <% for (var x of messages.registration) { %>
                <h4 class='error'><%= x %></h4>
                <% } %>
                    <% } %>
    </div>
</body>

</html>